*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', monospace;
}

@media (max-width: 540px) {
  html{
    font-size: 12px;
  }
}
@media (max-width: 420px) {
  html{
    font-size: 10px;
  }
}